<table class="table table is-bordered is-striped is-narrow is-hoverable">
  <thead>
    <tr>
      <th colspan="2">
        <figure class="image is-300x300">
          <img src={{url}} >
        </figure>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Nombre
      </td>
      <td>
        {{ nombre }}
      </td>
    </tr>
    <tr>
      <td>
        Edad
      </td>
      <td>
        {{ edad }}
      </td>
    </tr>
    <tr>
      <td>
        Nombre Capitalizado
      </td>
      <td>
        {{ nombreCapitalizado }}
      </td>
    </tr>
    <tr>
      <td>Saludo</td>
      <td>{{ saludo() }}</td>
    </tr>
  </tbody>
</table>
